.non-active {
  display: none;
}

.icon-container {
  position: absolute;    
}

/* 自分側のウィンドウの大きさを調整 */
#local-video {
  max-width: 1920px;
  max-height: 1080px;
  overflow: visible;
  /* display: none; */
  border: 10px solid rgba(255, 255, 255, 0);
  /* object-fit: cover; */
}

/* 自分側のウィンドウ（Webカメラ）を非表示 */
#local-video-webcam {
  max-width: 1920px;
  max-height: 1080px;
  overflow: visible;
  display: none;
  border: 10px solid rgba(255, 255, 255, 0);
  /* object-fit: cover; */
}

/* 相手側のウィンドウの大きさを調整 */
#remote-video {
  max-width: 1920px;  /*ウィンドウの横幅の最大値*/
  max-height: 1080px;  /*ウィンドウの縦幅の最大値*/
  overflow: visible;
  border: 10px solid rgba(255, 255, 255, 0);
  /* object-fit: cover; */
}

#webgazerVideoContainer {
  display: none !important; /* ビデオフィードを完全に非表示 */
}