.field-area {    
  position: relative;
  width: 800px;
  height: 400px;
  /* 適当に影とか背景色とか */
  background-color: #F0F0F0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.non-active {
  display: none;
}

.icon-container {
  position: absolute;    
}

/* 自分側のウィンドウの大きさを調整 */
#local-video {
  max-width: 1000px;
  max-height: 1000px;
  /* display: none; */
  border: 10px solid rgba(255, 255, 255, 0);
}

/* 自分側のウィンドウ（Webカメラ）を非表示 */
#local-video-webcam {
  max-width: 1000px;
  max-height: 1000px;
  display: none;
  border: 10px solid rgba(255, 255, 255, 0);
}

/* 相手側のウィンドウの大きさを調整 */
#remote-video {
  max-width: 1000px;  /*ウィンドウの横幅の最大値*/
  max-height: 1000px;  /*ウィンドウの縦幅の最大値*/
  border: 10px solid rgba(255, 255, 255, 0);
}

#webgazerVideoContainer {
  display: none !important; /* ビデオフィードを完全に非表示 */
}